/* 320px - 599px */

@font-face {
    font-family: Robotolight;
    src: url(../fonts/Roboto-Light.ttf)
}

@font-face{
    font-family: Robotobold;
    src: url(../fonts/Roboto-Bold.ttf)
}

@font-face {
    font-family: freshman;
    src: url(../fonts/Freshman.ttf);
}

*{
    padding: 0%;
    margin: 0%;
}

html{
    font-size: 62,5;
}

body{
    background-color:rgb(175, 245, 221);
    font-family: Robotolight;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background-image: url(../img/banner.png);
    background-position: 50%;
    display: grid;
    justify-content: center;

}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem;
}


nav ul{
    width: 100%;
    display: flex;  
    flex-direction: row;
    justify-content: space-between;    
}


ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;

}

a{
    color:#4ED9BF;
    font-style: normal;
    font-family: freshman;
    text-decoration: none;
    font-weight: lighter;
}

ul li:hover{
    color: black;
}

a:hover{
    color: black;
}

main{
    background-color: white;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2px;
    margin-top: 5px;
    background-color: white;
    text-decoration: none;
}

header{
    grid-area: header;
}

.barraNavegacion{
    grid-area: navbar;
    background-color: white;
}

.cuerpo{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}


footer{
    grid-area: footer;
}


.titulo{
    grid-area: titulo;
    display: grid;
    grid-template-areas: 
    "logoHome"
    "h1";
    gap: 5px;
    justify-items: center;
}

.carouselSlide{
    display: block;
}

.relleno{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 5px;
    justify-items: center;
}

img{
    width: 100%;
    height: 100%;
}

iframe{
    width: 100%;
    height: 100%;
}

.logoHome {
    max-width: 100px;
    height: auto;
    grid-area: logoHome;
}

.logoIndex{
    padding: 5px;
    margin: 5px;
    width: 100%;
}

h1 {
    grid-area: h1;
    color: black;
    padding: 20px;
    margin: 10px 10px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: freshman;
    font-size: 1.5rem;
}

h2{
    grid-area: h2;
    color: black;
    background-color: antiquewhite;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Robotobold;
    font-size: 1rem;
}

/* discografia */
.gridDiscos{
    display: grid;
    grid-template-areas: 
    "info"
    "parrafo"
    "discos";
    align-items: center;
    justify-items: center;
    gap: 10px;
}

.infoDiscos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: stretch;
    padding: 10px;
    margin: 5px;
}

.parrafoDiscos{
    display: flex;
    flex-direction: column;
    grid-area: parrafo;
    padding: 5px;
    margin: 5px;
}

.discosBlink{   
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    height: 300px;
    width: 300px;
    grid-area: discos;
}

/* galeria */
.gridFotos{
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;    
    gap: 5px;
    justify-items: center;
    padding: 5px;
    margin: 5px;
}

.gridVideos{
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;    
    gap: 5px;
    justify-items: center;
    padding: 5px;
    margin: 5px;
}

.fotosBlink{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    padding: 10px;
    margin: 5px;
    max-width: 100%;
    height: auto;
}

.videosBlink{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    padding: 10px;
    margin: 5px;
    max-width: 100%;
    height: auto;
}

/* contacto */
.sugerencias{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conejoBlink{
    grid-area: conejo;
    width: 35%;
    height: 35%;
}


.formularioContacto{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.parrafoSugerencias{
    grid-area: sugerencias;
}

form{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
}

/* tour */
.onTour{
    background-color: antiquewhite;
    padding: 5px;
    border-style: solid;
    margin: 5px;
    width: 85%;
}
.tourArgentina{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 5px;
    margin: 5px;
}

.tourExtranjero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    align-items: stretch;
    padding: 5px;
    margin: 5px;
}

@media(min-width:600px){
    body{
        background-color: whitesmoke;
    }
    
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color:rgb(175, 245, 221);
        padding: 20px;
        margin-top: 5px;
        font-family: Robotolight;
        text-decoration: none;
    }
    
    nav ul{
        width: 100%;
        display: flex;  
        flex-direction: row;
        justify-content: space-between;    
    }
    
    
    ul li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style-type: none;
    
    }
    
    ol li{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;  
        font-style: normal;
    
    }
    
    
    .button{
        width: 60px;
        background-color: antiquewhite;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
    }
    
    
    .relleno{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .titulo{
        grid-area: titulo;
        display: grid;
        grid-template-areas: 
        "logoHome h1";
    }
    
    p{
        color: black;
        padding: 30px;
        margin: 30px 10px 30px 10px;
        text-align: start;
    
    }

    .intro{
        font-weight: lighter;
        font-size: 20px;
    }
      
    /* discografia */
    .tituloDisco{
        display: flex;
        flex-direction: row;
        padding: 2px;
        border: solid 2px;
        border-color: black;
        justify-content: center;
    }
    
    .flexDiscos{
        display: flex;
        flex-direction: row;
        background-color: white;
    }
    
    .gridDiscos{
        display: grid;
        grid-template-areas: 
        "info    discos"
        "parrafo discos";
        align-items: center;
        justify-items: start;
        gap: 10px;
    }
    

    /* galeria */
    .gridFotos{
        background-color: white;
        padding: 15px;
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: space-evenly;
    }
    
    .gridVideos{
        background-color: white;
        padding: 15px;
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: space-evenly;
    }
    
    .fotosBlink{
        width: 250px;
        height: 200px;
    }
    
    .videosBlink{
        width: 250px;
        height: 200px;
    }
    
    /* contacto */
    .sugerencias{
        background-color: white;
        display: grid;
        grid-template-areas: 
        "h2 h2"
        "sugerencias sugerencias"
        "conejo formulario";
        justify-items: center;
        
    }
    
    .conejoBlink{
        display: flex;
        width: 150px;
        height: 150px;
    }
    
    .formularioContacto{
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 10px;
        margin: 20px;
    }
    
    .datosContacto{
        background-color: antiquewhite;
        display: flex;
        flex-direction: column;
    }
    
    
    p{
        color: black;
        background-color: antiquewhite;
        padding: 10px;
        margin: 10px;
        display: flex;
        justify-content:flex-start;
    }
}

@media(min-width:1024px){ 
    header{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 20px;
        background-image: url(../img/banner.png);
        background-position: 50%;
    }
    

    .logoHome{
        width: 100px;
        padding-right: 15px;
    }
    
    .logoIndex{
        padding: 5px;
        margin: 5px;
        width: 500px;
    }


    .barraNavegacion{
        display: flex;
        flex-direction: row;
        background-color: white;
        padding: 5px;
    }
      
    p{
        color: black;
        padding: 30px;
        margin: 30px 10px 30px 10px;
        text-align: start;
    
    }
    
        
    .intro{
        font-weight: lighter;
        font-size: 20px;
    }

    /* tour */
    .onTour{
        background-color: antiquewhite;
        padding: 10px;
        border-style: solid;
        margin: 10px;
        width: 85%;
    }
    
    /* contacto */
    .formularioContacto{
        padding: 10px;
        margin: 20px;
    }
    
    /*galeria */
    .gridFotos{
        background-color: white;
        padding: 15px;
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        flex-wrap: wrap;
        justify-content:center;
    }
    
    .gridVideos{
        background-color: white;
        padding: 15px;
        margin: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .fotosBlink{
        background-color: antiquewhite;
        padding: 10px;
        margin: 5px;
        width: 300px;
        height: 250px;
        transition-property: all;
        transition-duration: 1s;
    }
    
    .fotosBlink:hover{
        transform: scale(2);
    }
    
    
    .videosBlink{
        background-color: antiquewhite;
        padding: 10px;
        margin: 5px;
        width: 300px;
        height: 250px;
    }
    
    /* discografia */
    .gridDiscos{
        display: grid;
        grid-template-columns: 30% 25% 45%;
        grid-template-areas: 
        "discos info parrafo";
    }

    .parrafoDiscos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        grid-area: parrafo;
        padding: 10px;
        margin: 530x;
    }
    
    
    p{
        color: black;
        background-color: antiquewhite;
        padding: 10px;
        margin: 10px;
        display: flex;
        justify-content:flex-start;
    }
    
}